<!-- <div>
    <li *ngFor="let data of apidata">
      {{data.id}} {{data.userName}} {{data.userEmail}} {{data.userMob}} {{data.gender}} {{data.userPass}}
    </li>
  </div> -->

<!--or-->
<!-- <label>Admin data</label>
  <table border="2px red">
    <thead>
        <tr>
            <th> id</th>
            <th>userName</th>
            <th>userEmail</th>
            <th>userMob</th>
            <th>userPass</th>
            <th>gender</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apidata">
            <td>{{data.id}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.userEmail}}</td>
            <td>{{data.userMob}}</td>
            <td>{{data.userPass}}</td>
            <td>{{data.gender}}</td>
        </tr>
    </tbody>
</table> -->
<h1>Hotel List</h1>
<table border="2px black">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owner Name</th>
            <th>Hotel Name</th>
            <th>Menu</th>
            <th>Room Available</th>
            <th>Hotel Address</th>
            <th>Hotel Mobile</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apidata">
            <td>{{data.id}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.hotelName}}</td>
            <td>{{data.hotelMenu}}</td>
            <td>{{data.roomAvailable}}</td>
            <td>{{data.hotelAddress}}</td>
            <td>{{data.hotelMobile}}</td>
        </tr>
    </tbody>
</table>
<br>
<input type="text" #inputVal>
<button  class="btn btn-dark" (click)="deletData(inputVal.value)" (click)="getData()">Delete Hotel</button><br><br>
<button mat-button color="warn" routerLink="/adminland">Back</button>




<!-- <div class="example-container mat-elevation-z8" *ngFor="let data of apidata">
    <table mat-table>
  
      
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{data.id}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Owner Name. </th>
        <td mat-cell *matCellDef="let element"> {{data.ownerName}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Hotel Name </th>
        <td mat-cell *matCellDef="let element"> {{data.hotelName}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Hotel Address </th>
        <td mat-cell *matCellDef="let element"> {{data.hotelAddress}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->